
body{
    font-family: 'Teko', sans-serif;
    background-color: black;
    font-size: 24px;

}
.maincolumm{
    width: 1200px;
    background-color: snow;
    margin: 0 auto;
    margin-top: 670px;

}
.round1{
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 250px;
    border-top: black dashed;
}
.anh{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
}
.tieude{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 950px;
}
img{
    width: 180px;
    height: 180px;
    padding-top: 15px;
    padding-left: 15px;
}
h1{
    color: chocolate;
    padding-left: 20px;
}
h2{
    margin-bottom: 0px;
    color: chocolate;
    margin-top: 5px;
}
p{
    margin-top: -20px;
}
.detailbutton{
    background-color: red;
    font-size: 20px;
    padding: ;
}